body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f1f1f1;
}
a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 15px;
  border-radius: 8px;
  background-color: #0097e6;
  color: #f1f1f1;;
  text-decoration: none;
  transition-duration:  0.8s;
  font-size: 40px;
}
.material-icons{
  font-size: 30px;
  padding-left: 15px;
  top: 10px;
}
a:hover{
  background-color: rgb(0, 106, 164);
}
